body {
  margin: 0;
  background-color: lightcoral;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.start-end-popup {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.start-button {
  width: 120px;
  height: 80px;
}
.disable-popup {
  visibility: hidden;
}
.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: aqua;
  height: 50px;
}
.heading {
  margin: 0;
}

.board {
  flex: 1;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  margin: 5px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.footer {
  background-color: aqua;
  height: 50px;
}

.timer {
}
.reset {
}

.card-front {
  background-color: blue;
}
.card-back {
  background-color: green;
}

.flip-card {
  transition: transform 1s;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.unmatched {
  animation-name: pulse;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.75s;
}

.hidden {
  visibility: hidden;
}
.card-front > img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.card-back > img {
  display: none;
}
img {
  -webkit-transform: scaleX(-1);
}

@media only screen and (min-width: 768px) {
}
