body {
  margin: 0;
  background-color: lightcoral;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.start-end-popup {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.start-button {
  width: 120px;
  height: 80px;
}
.disable-popup {
  visibility: hidden;
}
.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: aqua;
  height: 50px;
}
.heading {
  margin: 0;
}

.board {
  flex: 1;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardParent {
  background-color: yellow;
}
.card {
  margin: 5px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.footer {
  background-color: aqua;
  height: 50px;
}

.timer {
}
.reset {
}

/* .card-front {
  background-color: blue;
}
.card-back {
  background-color: green;
} */

/* .flip-card {
  transition: transform 1s;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
} */
.unmatched {
  animation-name: pulse;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.75s;
}

.hidden {
  visibility: hidden;
}
/* .flip-card-back .flip-card-front > img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
} */
.card-back > img {
  display: none;
}
/* img {
  -webkit-transform: scaleX(-1);
} */
/* ----------------------- */

.flip-card {
  /* background-color: transparent; */
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  margin: 5px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

.front-image,
.back-image {
  object-fit: cover;
  margin: 5px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
}
